@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f5d04d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  width: 380px;
  height: 550px;
  background-color: #fff;
  border-radius: 1.5rem;
  border: solid 1px #000;
  box-shadow: 8px 8px #000;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vignette {
  width: 100%;
  height: 220px;
  border-radius: 1rem;
  object-fit: cover;
}

.tag {
  width: fit-content;
  border-style: none;
  border-radius: 0.2rem;
  padding: 0.5rem 0.8rem;
  background-color: #f5d04d;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  font-style: bold;
  color: #000;
}

.tag:hover {
  cursor: pointer;
}

.date {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: bold;
  color: #000;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  font-style: bold;
  letter-spacing: 1px;
  color: #000;
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
  color: #5f5f5f;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
}

.name {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  font-style: bold;
  color: #000;
}
